body {
    text-align: center;
    background-color: rgb(73, 72, 72);
    color: rgb(68, 68, 68);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

#nasional {
    padding-top: 30px;
}

#list-makanan {
    width: 80%;
    margin: 32px auto;
}

#list-makanan ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

main ul a {
    text-decoration: none;
    color: chocolate;
}

main ul li:hover {
    background-color: rgb(228, 157, 44);
    color: black;
}

.makanan {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    /* overflow: hidden; */
}

.makanan img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.konten-makanan {
    padding: 16px;
    text-align: center;
    list-style: none;
}

.makanan h2 {
    margin: 0 0 5px 0;
    font-size: large;
    font-weight: 750;
}

/*  */