body {
    background-color: white;
}

#hero {
    height: 120%;
    width: 100%;
    /* background-image: url(gambar/gambar-homepage.jpg); */
    /* background-position: center;
    background-size: cover; */
    position: absolute;
    z-index: 1;
}

#carouselExampleSlidesOnly{
    position: relative;
    height: 100%;
    width: 100%;
}

#carouselExampleSlidesOnly .carousel-inner{
    position: relative;
    height: 100%;
    width: 100%;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item{
    position: relative;
    height: 100%;
    width: 100%;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item img{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#heroc {
    width: 70%;
    position: relative;
    z-index: 2;
}

#hero-content {
    width: 100%;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    /* top: 200px; */
}

#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: "Raleway", sans-serif;
    margin: auto;
}

#hero-content p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

#hero-content a {
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
}

/* #hero-content a:hover {
    background-color: rgb(255, 238, 0);
} */

#highlights {
    padding: 24px;
    margin-top: -25px;
    background-color: white;
    box-shadow: 2px -4px 8px rgb(48, 47, 47);
    border-radius: 25px;
    position: relative;
    z-index: 20;
    height: 100%;
}

#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59, 65, 64);
    margin: 24px 0;
}

.hg-nama {
    text-align: center;
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 20px 0;
}

.hg-nama strong {
    color: rgb(223, 184, 26);
}

.card {
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    transition: transform 0.5s ease-out;
}

a :hover {
    transform: scale(1.1);
 }

 a:hover .card-img-top{
    transform: scale(1.0);
 }

 a:hover .card-body{
    transform: scale(1.0);
 }

 @media (max-width: 775px) {
    #hero-content p {
        font-size: small;
    }

    #hero-content h1 {
        font-size: x-large;
    }

    #hero-content {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    #hero-content a {
        font-size: medium;
    }
 }