body {
    text-align: center;
    background-color: rgb(73, 72, 72);
    color: rgb(68, 68, 68);
 }

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 48px;
}

 #list-makanan {
    width: 80%;
    margin: 32px auto;
}

#list-makanan ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

main ul a {
    text-decoration: none;
    color: chocolate;
}

main ul li:hover {
    background-color: rgb(228, 157, 44);
    color: black;
}

.makanan {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.makanan img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.konten-makanan {
    padding: 16px;
    text-align: center;
    list-style: none;
}

.makanan h2 {
    margin: 0 0 5px 0;
}

/* .btn {
    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(221, 134, 34);
} */