/* * {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
} */
/* body {
	background: #000;
	display: grid;
	place-items: center;
	height: 100vh;
} */
#clock {
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
	margin-top: 6px;
	font-size: 1.5rem;
	-webkit-text-fill-color: rgb(245, 243, 160);
	font-weight: 500;
	margin-right: 1rem;
	position: absolute;
	z-index: 100;
}

@media (max-width: 775px) {
	#clock {
		font-size: 1rem;
	}
}